.my-slider {
  width: 100%;
  height: 100%;
  position: relative;
  box-shadow: 0 22px 16px -12px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  color: white;
  border-radius: 10px;

  .content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;

    .title {
      text-align: right;
      text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
      font-size: 17px;
      opacity: 0.9;
    }

    .location {
      display: flex;
      text-transform: uppercase;
    
      span {
        //padding: 5px 0;
        flex: 1;
        text-align: center;
        text-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
        font-weight: 100;
        font-size: 12px;
        opacity: 0.7;

        &:nth-child(2) {
          width: 20px;
          flex: none;
        }
      }
    } 
  }

  .index-wrapper {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 25px;
    width: 100%;
  }

  .img-index {
    display: flex;
    align-content: center;

    .index-item {
      width: 4px;
      height: 4px;
      margin: 0 4px;
      background-color: #333; 
      opacity: .8;
      border-radius: 50%;
      
      &.active {
        margin: 0 6px;
        opacity: .9;
        width: 6px;
        height: 6px;
      }
    }
    
  }
}